<!DOCTYPE html>
<html lang="es">
<head>
	 <meta charset="UTF-8">
	 <title>Ejemplo de AngularJS</title>
</head>

<body>
	 <h1>Acumulador</h1>
	 <h2>Control de Operaciones</h2>
	 	
	 <div class="contenedor" ng-app="acumuladorApp" ng-controller="acumuladorAppCtrl as vm">
	 		Ingrese Monto: <input type="text" ng-model="vm.monto" size="4" />
	 		<br/>
	 		<input type="button" value="+" ng-click="vm.sumar()" />
	 		<input type="button" value="-" ng-clcik="vm.restar()"/>
	 		<h2> Totales </h2>
	 		Acumulado llevamos: <span>{{vm.total}}</span>
	</div>

    <script type="text/javascript">
    	angular
    		.module('acumuladorApp',[])
    		.controller("acumuladorAppCtrl", controladorPrincipal);

    	function controladorPrincipal(){
    		var scope = this;
    		scope.total = 0;
    		scope.monto = 0;

    		scope.sumar = function(){
    			scope.total += parseInt(scope.monto); 
    		}

    		scope.restar = function(){
    			scope.total -= parseInt(scope.monto);
    		}
    	};

    </script>

	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</body>
</html>